.category {
  height: 30px;
  width: 100%;
  text-align: center;
  border: 1px solid #AFAFAF;
  cursor: pointer;
}

.category.selected {
  background-color: #baddf9;
}

.category:hover {
  background-color: #baddf9;
}