/* palette to use: https://material.io/color/#!/?view.left=0&view.right=0&secondary.color=BBDEFB&primary.color=546E7A */

.app {
  color: #fff;
  height: 100%;
}

/* Layout */
.main {
  padding-top: 64px;
  height: calc(100% - 128px);
  background-color: #546e7a;
}

.content {
  padding: 48px 72px;
  overflow: auto;
  float: left;
  width: calc(100% - 400px);
  height: calc(100% - 100px);
}

/* Header and Footer Bar */
.header {
  background-color: #29434e;
  box-sizing: border-box;
  border-radius: 0px;
  position: fixed;
  z-index: 1101;
  width: 100%;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
}

.header>h1 {
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
  padding-top: 0px;
  letter-spacing: 0px;
  font-size: 24px;
  font-weight: 400;
  height: 64px;
  line-height: 64px;
  flex: 1 1 0%;
}

.footer {
  background-color: #819ca9;
  box-sizing: border-box;
  border-radius: 0px;
  position: fixed;
  z-index: 1101;
  top: calc(100% - 64px);
  width: 100%;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  height: 64px;
}

.side-bar {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  border-radius: 0px;
  height: 100%;
  width: 256px;
  z-index: 1200;
  left: 0px;
  top: 0px;
  transform: translate(0px, 0px);
  overflow: auto;
  float: left;
  background-color: #F5F5F6;
  color: #000;
}

.title {
  font-size: 24px;
  line-height: 64px;
  font-weight: 300;
  padding: 0;
  padding-left: 24px;
  margin: 0;
  margin-bottom: 8px;
  color: #000;
}

/* Buttons */
.btn-rect {
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  position: relative;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  border-radius: 2px;
  text-align: center;
}

.btn-rect span {
  opacity: 1;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0px;
  user-select: none;
  padding-left: 16px;
  padding-right: 16px;
}

.btn-circle {
  display: block;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.base {
  background-color: #819ca9;
}

.primary {
  color: #000;
  background-color: #89abc6;
}

.secondary {
  color: #000;
  background-color: #baddf9;
}

.post-list {
  height: 5000px;
}

.post {
  width: 100%;
}

.post-header {
  font-size: 24px;
  font-weight: 300;
  padding: 20px 24px;
  margin: 0;
  color: #000;
}

.post-contents {
  min-height: 100px;
  background-color: #F5F5F6;
  color: #000;
  padding: 24px;
  overflow: hidden;
}

.post-votes {
  float: left;
  width: 46px;
  margin: 3px;
}

.post-votes span {
  text-align: center;
  margin-right: 16px;
  display: block;
  line-height: 36px;
}

.up-vote {
  width: 30px;
  height: 30px;
  background-image: url('./icons/down_arrow.svg');
  background-size: 15px;
  transform: rotate(180deg);
  box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);
}

.down-vote {
  width: 30px;
  height: 30px;
  background-image: url('./icons/down_arrow.svg');
  background-size: 15px;
}

.post-wrapper {
  float: left;
}

.post-main {
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}

.add-post {
  position: fixed;
  right: 25px;
  bottom: 75px;
}

.add-post a {
  width: 50px;
  height: 50px;
  background-image: url('./icons/add.svg');
  background-size: 25px;
}