/* palette to use: https://material.io/color/#!/?view.left=0&view.right=0&secondary.color=BBDEFB&primary.color=546E7A */

.app {
  color: #fff;
  height: 100%;
}

/* Layout */
.main {
  padding-top: 64px;
  height: calc(100% - 128px);
  background-color: #546e7a;
}

.content {
  padding: 38px 42px;
  overflow: auto;
  float: left;
  width: calc(100% - 340px);
  height: calc(100% - 100px);
}

/* Header and Footer Bar */
.header {
  background-color: #29434e;
  box-sizing: border-box;
  border-radius: 0px;
  position: fixed;
  z-index: 1101;
  width: 100%;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
}

.header>h1 {
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
  padding-top: 0px;
  letter-spacing: 0px;
  font-size: 24px;
  font-weight: 400;
  height: 64px;
  line-height: 64px;
  flex: 1 1 0%;
}

.footer {
  background-color: #819ca9;
  box-sizing: border-box;
  border-radius: 0px;
  position: fixed;
  z-index: 1101;
  top: calc(100% - 64px);
  width: 100%;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  height: 64px;
}

.side-bar {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  border-radius: 0px;
  height: 100%;
  width: 256px;
  z-index: 1200;
  left: 0px;
  top: 0px;
  transform: translate(0px, 0px);
  overflow: auto;
  float: left;
  background-color: #F5F5F6;
  color: #000;
}

.title {
  font-size: 24px;
  line-height: 64px;
  font-weight: 300;
  padding: 0;
  padding-left: 24px;
  margin: 0;
  margin-bottom: 8px;
  color: #000;
}

/* Buttons */
.btn-rect {
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  position: relative;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  border-radius: 2px;
  text-align: center;
}

.btn-rect span {
  opacity: 1;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0px;
  user-select: none;
  padding-left: 16px;
  padding-right: 16px;
}

.base {
  background-color: #819ca9;
}

.primary {
  color: #000;
  background-color: #89abc6;
}

.secondary {
  color: #000;
  background-color: #baddf9;
}
